.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04ff84;
  --secondary-color: #049604;
  --inverted-primary-color: #041c65;
  --inverted-secondary-color: #0051ff;
}
