.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #090949;
  --primary-color: #041c65;
  --secondary-color: #0449e0;
  --inverted-primary-color: #04ff84;
  --inverted-secondary-color: #049604;
}
