.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.links {
  margin-left: auto;
  margin-right: 9px;
}

.mainLink {
  margin-right: 15px;
}
